.big-box{
    position: absolute;
    width: 100vw;
    height: 200vw;
    background-color: red;
    margin: 0 0;
}
.title-holder{
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: darkgreen;
    position: absolute;

}
.picture-box{
    vertical-align: top;
    width: 20%;
    height: 100%;
    position: relative;
    left: 10%;
    top: -45%;
}
.medium-box{
    width: 90%;
    height: 38%;
    background-color: darkgreen;
    border: solid green 2px;
    position: relative;
    top: 13%;
    left: 5%;
    border-radius: 7%;
}
.title-medium-holder{
    width: 80%;
    height: 10%;
    text-align: center;
    position: relative;
    left: 10%;

}
.text-holder{
    width: 45%;
    height: 70%;
    position: relative;
    left: 7%;
    top: 5%;
}
.image-box{
    vertical-align: top;
    width: 20%;
    height: 35%;
    position: relative;
    display: inline-block;
    left: 57%;
    top: -65%;
}
.image-box2{
    vertical-align: top;
    width: 20%;
    height: 35%;
    position: relative;
    display: inline-block;
    left: 16.5%;
    top: -28%;
}
body{
    margin: 0;
}
h1{
    font-size: 3vw;
    font-family: "Mountains of Christmas";
}
h2{
    font-size: 2vw;
    font-family: "Mountains of Christmas";
}
h3{
    font-size: 1.7vw;
    font-family: "Mountains of Christmas";
}
li{
    font-size: 1.5vw;}
